
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px
}
 ul>li{
    font-family: "Montserrat";
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.04em;
        color: #2e2f42;
 }
a{
    text-decoration: none;
}